.title-container-nus{
    margin: 5rem;
    margin-top: 5rem !important;
    display: flex;
  }

.font-Inter{
    font-family: 'Inter', sans-serif;
    font-weight: 530;
  }
  
  
  .title-text-nus h1{
    width: 35rem;
    margin-right: 2rem;
    font-size: 3rem;
    font-style: normal;
    margin-bottom: -.5rem;
    
    }
  
  .title-text-nus p {
    max-width: 30rem;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2rem; /* 133.333% */
    letter-spacing: -0.03rem;
  }
  
  .title-text-nus h2{
    color: var(--blue-blue-600, #3676E0);
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: -.5rem;
  }
  
  .title-text-nus h3{
    padding-top: 2rem;
    margin-bottom: -1rem;
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .title-text-nus h4{
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--blue-blue-600, #3676E0); 
    margin-bottom:-1.5rem;
  }
  
  .underline-nus {
    margin-left: 0rem;
  }
  
  .nus-pic-title {
    max-width: 50rem;
    max-height: 50rem;
  }
  
  .second-pic-nus {
    display:flex;
    margin: 10rem;
    margin-top: 10rem !important;
  }
  
  .second-pic-nus-text {
    margin-right: 10rem;
    width: 50rem;
  }
  
  .second-pic-nus-text h1{
    margin-bottom: -.1rem;
  }
  
  
  .second-pic-nus h1{
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .cover-nus-pic {
    max-width: 40rem;
    max-height: 35rem;
  }
  
  .second-pic-nus-text p {
    font-size: 1.5rem;
    max-width: 50rem !important;
    line-height: 1.5;
  }
  
  .second-pic-nus-text-bottom-container{
    display: flex;
    margin-top: 5rem;
  }
  
  .second-pic-nus-text-bottom-container h1 {
    font-size: 2rem;
  }
  
  .second-pic-nus-text-bottom-container h2 {
    margin-left: 10rem;
    font-size: 2rem;
  }
  
  .line-3{
    margin-top: 4rem;
    margin-left: -5rem;
  }
  
  .problem-statement-nus{
    margin: 5rem;
    text-align: center;
  }
  
  .problem-statement-nus h1{
    font-size: 3rem;
  }
  
  .problem-statement-nus p {
    font-size: 1.5rem;
    margin-top: 1rem !important;
    margin-left: 7rem;
    margin-right: 7rem;
    line-height: 1.5;
  }

  .design-overview-nus{
    margin: 10rem;
  }

  .textnarrow{
    max-width:10rem;
    max-height: 10rem;
    margin-left: -15rem;
    margin-bottom: -15rem;
    margin-top: -12rem;
  }

  .arrownus{
    margin-left: 10rem;
    max-height: 7rem;
    max-width: 5rem;
  }

  .text-with-arrow{
    max-width: 10rem;
    max-height: 5rem;
    margin-left: 5rem;
  }
  
  .design-overview-nus h1{
    margin-top: 10rem;
    font-size: 3rem;
    margin-bottom: -.2rem;
  }
  
  .design-container-nus{
    display: flex;
    justify-content: space-between;
    padding: 5rem;
  }

  .design-container-nus p{
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.025rem;
    color: var(--gray-gray-700, #5E6B81);
  }
  
  .understand-nus, .define-nus, .ideate-nus{
    text-align: center;
    margin-left: 5rem;
    margin-right: 5rem;
  }
  
  .understand-nus-pic {
    margin-top: .1rem;
    max-width: 11rem;
    max-height: 11rem;
  }
  
  .define-nus-pic{
    max-width: 10rem;
    max-height: 10rem;
  }
  
  .ideate-nus-pic{
    max-width: 10rem;
    max-height: 10rem;
  }
  
  .design-container-nus-row2{
    margin-top: -4rem;
    display: flex;
    padding: 5rem;
    margin-left: 0rem;
  }
  
  .design-nus-pic, .test-nus-pic{
    max-width: 10rem;
    max-height: 10rem;
  }

  .design-container-nus-row2{
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1rem; /* 140% */
    letter-spacing: -0.025rem;
    color: var(--gray-gray-700, #5E6B81);
  }
  
  .design-nus{
    margin-left: 12rem;
    text-align: center;
  }
  
  .test-nus{
    margin-left: 15rem;
    text-align: center;
  }
  
  .research-nus-container{
    margin-left: 15rem;
    margin-right: 15rem;
  }
  
  .research-nus-container h1{
    font-size: 3rem;
    margin-bottom: -.2rem;
  }
  
  .research-nus-container p{
    font-size: 1.3rem;
  }
  
  .research-nus-target-p{
    width: 40rem;
  }
  
  .target-audience-pic{
    max-width: 20rem;
    max-height: 20rem;
    float: right;
    margin-right: -5rem;
    margin-top: -22rem;
  }
  
  .qualitative-research-nus{
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 10rem;
    margin-bottom: 5rem;
  }
  
  .qualitative-research-nus h1{
    font-size: 3rem;
    margin-bottom: -.2rem;
  }
  .qualitative-research-nus h2{
    font-size: 2rem;
  }
  
  .qualitative-research-nus p {
    font-size: 1.3rem;
    line-height: 1.5;
  }
  
  .observation-nus h2{
    font-size: 2rem;
  }
  
  .observation-nus {
    margin-top: 3rem;
  }
  
  .observation-nus-container-1, .observation-nus-container-2{
    display: flex;
    gap: 5rem;
    justify-content: space-evenly;
  }
  
  .trust-nus h2, .commun-nus h2, .adv-nus h2, .ineff-nus h2{
    color:#3676E0
  }

  .ineff-nus {
    margin-left: 2rem;
  }

  .trust-nus, .commun-nus, .adv-nus, .ineff-nus {
    max-width: 30rem;
  }
  
  .trust-nus li{
    font-size: 1.3rem;
    line-height: 1.5;
  }
  
  .commun-nus li{
    font-size: 1.3rem;
    line-height: 1.5;
  }
  
  .adv-nus li{
    font-size: 1.3rem;
    line-height: 1.5;
  }
  
  .ineff-nus li{
    font-size: 1.3rem;
    line-height: 1.5;
  }

  .persona-container{
    display: flex;
    margin-left: 8rem;
  }

  .ben-persona-nus{
    max-width: 40rem;
    max-height: 60rem;
  }

  .fassler-persona-nus{
    margin-left: -2rem;
    max-width: 40rem;
    max-height: 60rem;
  }

  .persona-text-nus h1{
    font-size: 3rem;
    margin-bottom:-.2rem;
    
  }

  .persona-text-nus p{
    font-size: 1.3rem;
    line-height: 1.5;
  }


  .persona-text-nus{
    margin-right: 15rem !important;
    margin-left: 15rem;
    margin-bottom: 0rem;
  }

  .storyboard-nus-heading{
    margin-left: 15rem;
    margin-right: 15rem;
    margin-bottom: 5rem;
}
  
  .storyboard-nus{
    margin: 5rem;
    align-items: center;
    display:flex;
  }

  .storyboard-nus-heading h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .storyboard-nus-heading p{
    font-size: 1.3rem;
    margin-bottom: 2rem;
    line-height: 1.5;
  }

  
  .storyboard-nus-pic{
    border-radius: 1rem;
    max-width: 40rem;
    max-height: 40rem;
    margin-right: 2rem;
  }
  
  .storyboard-nus-pic2{
    border-radius: 1rem;
    max-width: 39rem;
    max-height: 39rem;
  }
  
  .key-user-tasks-nus{
    margin-top: 10rem;
    margin-left: 15rem;
    margin-right: 15rem;
  }
  
  .key-user-tasks-nus h1{
    font-size: 3rem;
    margin-bottom: 0rem;
  }

  .key-user-tasks-nus p{
    font-size: 1.3rem;
    line-height: 1.5;
  }
  
  .container-key-user-tasks{
    margin-top: 5rem;
  }
  
  .connection-pic-nus{
    width: 30rem;
    height: 30rem;
  }
  
  .connection-text-nus{
    margin-top: 4rem;
    padding-left: 10rem;
    text-align: center;
  }

  .img-user-tasks-container{
    max-width: 70rem;
    max-height: 70rem;
  }
  
  .connection-text-nus h1{
    color:#3676E0;
    font-size: 2rem;
    margin-top: 3rem;
  }
  
  .connection-text-nus p{
    color: gray;
    font-size: 1.5rem;
    line-height: 1.5;
  }
  
  .scheduling-text-nus{
    display: flex;
    justify-content: space-evenly;
  }
  
  .schedule-pic{
    width: 30rem;
    height: 30rem;
  }
  
  .container-connection{
    display: flex;
    margin-bottom: 5rem;
  }
  
  .schedule-pic{
    float: right;
    margin-left: 8rem;
  }
  
  .schedule-text{
    text-align: center;
    margin-top: 3rem;
    width: 35rem;
  }
  
  .schedule-text h1{
    color:#3676E0;
    font-size: 2rem;
  }
  
  .schedule-text p {
    color: gray;
    font-size: 1.5rem;
    line-height: 1.5;
  }
  
  .feedback-container-nus{
    display: flex;
    margin-top: 5rem;
  }
  
  .feedback-pic-nus{
    width: 30rem;
    height: 30rem;
  }
  
  .feedback-text-nus{
    margin-top: 3rem;
    text-align: center;
    padding-left: 10rem;
  }
  
  .feedback-text-nus h1{
    color:#3676E0;
    font-size: 2rem;
  }
  
  .feedback-text-nus p{
    color: gray;
    font-size: 1.5rem;
    line-height: 1.5;
  }
  
  .low-fi-nus {
    margin: 15rem;
    margin-top: 5rem !important;
  }
  
  .low-fi-nus h1{
    font-size: 3rem;
    margin-bottom: 0rem;
  }
  
  .wireframe-pic-1{
    max-width: 60rem;
    max-height: 50rem;
    padding-bottom: 5rem;
  }
  
  .wireframe-pic-2{
    max-width: 60rem;
    max-height: 80rem;
  }
  
  .wireframe-pic{
    margin-top: 5rem;
  }
  
  
  .hi-fi-first{
    margin-left: 15rem;
    margin-right: 15rem;
  }

  .hi-fi-first p {
    font-size: 1.3rem;
    line-height: 1.5;
  }
  
  .hi-fi-first h1{
    font-size: 3rem;
    margin-bottom: -.2rem;
  }

  .low-fi-nus-pt1{
    margin-left: -5rem;
    margin-top: -1rem;
    max-width: 100rem;
    max-height:120rem;
  }
  
  .user-testing{
    margin-left: 15rem;
    margin-right: 15rem;
  }
  
  .user-testing h1{
    font-size: 3rem;
    margin-bottom: -.2rem;
  }

  .user-testing h2{
    font-size:1.5rem;
    font-weight: 600;
  }
  
  .container-effective-text{
    display: flex;
  }
  
  .container-effective-text h3{
    width: 30rem;
  }
  
  .container-effective-text p{
    margin-top: 2rem;
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  .satisfaction-container{
    display: flex;
  }
  
  .satisfaction-container-text h1{
    font-size: 2rem;
  }

  .satisfaction-container-text p{
    font-size: 1.2rem;
    line-height: 1.5;
  }

  .effective-pic{
    max-width: 30rem;
    max-height: 30rem;
    margin-left: 3rem;
  }
  
  .satisimg{
    max-width: 30rem;
    max-height: 30rem;
  }
  
  .satis-container{
    margin-top: 5rem;
    display:flex;
  }
  
  .satis-text-container{
    width: 30rem;
  }
  
  .satis-text-container p{
    font-size: 1.2rem;
    margin-top: 3rem;
    margin-right: 5rem;
    line-height: 1.5;
  }
  
  .effic-container{
    margin-top: 5rem;
    display: flex;
  }
  
  .effic-img{
    margin-top: 5rem;
    max-width: 30rem;
    max-height: 30rem;
  }

  .completion-p{
    font-size: 1rem;
    color: gray;
    line-height: 1.5;
  }

  .effic-img-text{
    margin-left: 5rem;
  }

  .effic-img-text p{
    font-size: 1.2rem;
    line-height: 1.5;
  }


  .user-testing-conclusion{
    margin-top: 5rem;
  }

  .user-testing-conclusion{
    font-size: 1.2rem;
  }
  
  .high-fidelity-nus{
    margin: 0rem;
  }

  .hi-fi-screen-text{
    margin-top: 10rem;
    margin-left: 15rem;
  }
  
  .high-fidelity-nus h1{
    font-size: 3rem;
    margin-bottom:-.2rem;
  }
  
  .hi-fi-pic1{
    max-width: 70rem;
    max-height: 60rem;
  }
  
  .hi-fi-pic-all{
    max-width: 90rem;
    max-height: 100rem;
  
  }
  
  .hi-fi-all-container{
    margin-left: 15rem;
    margin-right: 15rem;
  }
  
  .hi-fi-all-container h1{
    margin-bottom:-.2rem;
  }
  
  .nus-conclusion-container{
    margin-left: 15rem;
    margin-right: 15rem;
  }

  .conclusion-heading{
    margin-bottom: 3rem;
  }
  
  .nus-conclusion-container h1{
    font-size: 3rem;
    margin-bottom:-.2rem;
  }
  
  .key-takeaways-text{
    font-size: 1.3rem;
    line-height: 1.5;
  }


  
