.projects-h1{
    text-align: center;
    margin-top: 8rem;
    color: var(--dark-grey-80, #101214);
    font-family: Helvetica;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5rem; /* 100% */
    letter-spacing: 0.0625rem;
  }
  
  .project-ux-container{
    display: flex;
    justify-content: center;
    margin-right: 5rem;
    margin-left: 5rem;
    margin-top: 5rem;
  }
  
  .proj1-box{
    margin-right: 9rem;

  }
  
  .proj1-box h4{
    color: var(--dark-grey-80, #101214);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.75rem; /* 137.5% */
    letter-spacing: 0.0625rem;
    margin-top: -.1rem;
    margin-bottom: -1rem;
  }
  
  .proj1-box p {
    color: var(--dark-grey-60, #73808D);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 120% */
    letter-spacing: 0.03125rem;
  }
  
  .project-travel{
    border: .2rem solid;
    margin-right: 5rem;
    width: 28rem;
    height: 20rem;
    flex-shrink:0;
    background-color: #DBECFF;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .proj2-box h4{
    color: var(--dark-grey-80, #101214);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.75rem; /* 137.5% */
    letter-spacing: 0.0625rem;
    margin-bottom: -1rem;
  }
  
  .proj2-box p{
    color: var(--dark-grey-60, #73808D);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 120% */
    letter-spacing: 0.03125rem;
  }
  
  .project-research{
    border: .2rem solid;
    float: right;
    width: 28rem;
    height: 20rem;
    flex-shrink:0;
    flex-grow: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #FFEFD7;
  }
  
  .other-projects {
    display: flex;
    flex-direction: column; /* Arrange rows vertically */
    align-items: center; /* Center horizontally */
    margin-top: 5rem;
  }
  
  .row-projects {
    display: flex; /* Arrange boxes in a row */
    justify-content: center; /* Center horizontally */
    margin-bottom: 2rem; /* Space between rows */
  }
  
  .box-project {
    margin-left: 7rem; /* Space between boxes */
    padding-right: 6rem;
    text-align: left;
  }
  
  .rectangle-other {
    display: flex;
    width: 29rem;
    height: 20rem;
    background-color: #D6F3F3;
    border: .2rem solid;
    justify-content: center;
  }
  
  .publication-img{
    max-width: 25rem;
    max-height: 20rem;
  }
  
  .rectangle-text{
    width: 29rem;
    margin-top: -1.2rem;
    color: var(--dark-grey-80, #101214);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 0.0625rem;
  }
  
  .box-project p{
    margin-top: -1.3rem;
    color: var(--dark-grey-60, #73808D);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem; /* 120% */
    letter-spacing: 0rem;
  }
  
  .proj1-projects {
    max-width: 20rem;
    max-height: 18rem;
  }

  .research-link{
    text-decoration: none;
  }
  
  .code-link{
    text-decoration: none; 
    color: black; 
  }

  .code-pic{
    max-width: 20rem;
    max-height: 20rem;
  }

  .cover-travelpic{
    max-width: 28rem;
    max-height: 28rem;
    margin-top: 2rem;
  }


