.blue-text {
    color: var(--blue-blue-600, #3676E0);
    font-weight: 600;
  }

.problem-statement-travel{
    margin: 5rem;
    text-align: center;
    margin-bottom: 15rem;
}

.problem-statement-travel h1{
    font-size: 3rem;
}
  
.problem-statement-travel p {
  font-size: 1.5rem;
  margin-top: 1rem !important;
  margin-left: 7rem;
  margin-right: 7rem;
  line-height: 1.5;
}

.research-travel-container{
    margin-left: 15rem;
    margin-bottom: 10rem;
}

.research-travel-container h1{
    font-size: 3rem;
    margin-bottom: -.2rem;
}

.research-travel-container p {
    font-size: 1.3rem;
    line-height: 1.5;
}

.user-research-container-travel{
    margin-left: 15rem;
    margin-right: 15rem;
}

.user-research-heading-travel h1{
   font-size: 3rem;
    margin-bottom:-.2rem;
}

.research-travel-target-container p{
    width: 40rem;
    margin-right: 5rem;
    line-height: 1.5;
}

.target-audience-pic-travel{
    margin-right: -20rem;
    margin-top: -5rem;
}

.research-travel-target-container{
    display: flex;
    margin-right: 0rem !important;
    margin-bottom: 0rem !important;
}

.user-research-heading-travel p{
    font-size: 1.3rem;
    line-height: 1.5;
}

.comp-analysis-pic{
    max-width: 50rem;
    max-height: 50rem;
}

.comp-analysispic-container{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.unique-features h1{
    font-size: 2rem;
}

.empathy-map-heading{
    margin-top: 5rem;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-bottom: 5rem;
}

.empathy-map-heading h1{
    font-size: 3rem;
    margin-bottom: -.2rem;
}

.empathy-map{
    margin-left: 10rem;
    margin-right: 10rem;
    display: flex;
    justify-content: center;
}


.empathy-map-pic{
    max-width: 50rem;
    max-height: 50rem;
}

.persona-travel-container{
    display:flex;
    justify-content: center;
}

.persona-pic-travel{
    max-width: 60rem;
    max-height: 50rem;
}

.empathy-map-heading p{
    font-size: 1.3rem;
    margin-bottom: -3rem;
    line-height: 1.5;
}

.persona-text-travel{
    margin-left: 15rem;
    margin-bottom: 5rem;
}

.persona-text-travel h1{
    font-size: 2.5rem;
    margin-bottom: -.2rem;
}

.userflow-travel{
    margin-left: 15rem;
    margin-right: 15rem;
}

.userflow-travel h1{
    font-size: 3rem;
    margin-bottom: -.2rem;
}

.userflow-travel p{
    font-size: 1.3rem;
    line-height: 1.5;
    margin-bottom: 5rem;
}

.userflow-pic{
    border-radius: 1rem;
    max-width: 60rem;
    max-height: 50rem;
}

.key-user-tasks{
    margin-top: 5rem;
    margin-left: 15rem;
    margin-right: 15rem;
}

.key-user-tasks h1{
    font-size: 3rem;
}

.key-user-tasks p{
    font-size: 1.3rem;
    line-height: 1.5;
}

.community-pic-nus{
    width: 30rem;
    height: 20rem;
}

.container-community{
    display: flex;
    margin-bottom: 5rem;
}

.container-key-user-tasks-travel{
    margin-top: 10rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.community{
    max-width: 30rem;
    max-height: 30rem;
}
 
.community-text{
    padding-left: 10rem;
    text-align: center;
  }

.community-text h1{
    color:#3676E0;
    font-size: 2rem;
}

.community-text p{
    color: gray;
    font-size: 1.5rem;
    line-height: 1.5;
}

.safety-text-travel{
    display: flex;
    justify-content: space-evenly;
  }

.safety-pic{
    float: right;
    margin-left: 8rem;
    max-width: 30rem;
    max-height: 10rem;
    margin-top: 2rem;
}

.safety-text{
    text-align: center;
    width: 35rem;
}
  
  .safety-text h1{
    color:#3676E0;
    font-size: 2rem;
  }
  
  .safety-text p {
    color: gray;
    font-size: 1.5rem;
    line-height: 1.5;
  }
  
  .budget-container-nus{
    display: flex;
    margin-top: 5rem;
    margin-bottom: 10rem;
  }
  
  .itinerary-pic-travel{
    max-width: 30rem;
    max-height: 5rem;
    margin-top: 5rem;
  }
  
  .budget-text-nus{
    width:40rem;
    padding-left: 10rem;
    text-align: center;
  }
  
  .budget-text-nus h1{
    color:#3676E0;
    font-size: 2rem;
  }
  
  .budget-text-nus p{
    color: gray;
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .low-fi-travel{
    margin: 10rem;
  }

  .low-fi-text{
    margin-left: 5rem;
    margin-right: 5rem;
  }
  
  .low-fi-text h1{
    font-size: 3rem;
    margin-bottom: -.2rem;
  }

  .low-fi-text p{
    font-size: 1.3rem;
    line-height: 1.5;
  }

  .travel-lowfi-container{
    display: flex;
    justify-content: center;
  }

  .travel-lowfi{
    max-width: 100rem;
    max-height: 100rem;
  }

  .hi-fi-prototype-travel-text{
    margin-left:15rem;
    margin-right:15rem;
  }

  .hi-fi-prototype-travel-text h1{
    font-size: 3rem;
    margin-bottom: -.2rem;
  }

  .hi-fi-prototype-travel-text p{
    font-size: 1.3rem;
    line-height: 1.5;
  }

  .color-container{
    margin-top: 5rem;
    display:flex;
    justify-content: space-between;
  }

  .blue-container{
    width: 3rem;
    height: 3rem;
    background-color: #2F80ED;
  }

  .white-container{
    width: 3rem;
    height: 3rem;
    background-color: #EDEDED;
  }

 

  .yellow-container{
    width: 3rem;
    height: 3rem;
    background-color: #CE9912;
  }

  .color-text-container{
    display: flex;
    justify-content: space-between;
  }

  .fade-in-container-travel{
    margin-top: 5rem;
  }

  .fade-in-container-travel h1{
    margin-left: 10rem;
    font-size: 3rem;
  }

  .hi-fi-all-container h1{
    font-size: 3rem;
  }

  .conclusion-travel{
    margin-left: 15rem;
    margin-right: 15rem;
  }

  .conclusion-travel h1{
    font-size: 3rem;
    margin-bottom: -.2rem;
  }

  .conclusion-travel p{
    font-size: 1.3rem;
    line-height: 1.5;
  }



  

  