* {
  box-sizing: border-box;
}

.font-Inter{
  font-family: 'Inter', sans-serif;
  font-weight: 530;
}

.MuiTimelineConnector-root{
  width: 20rem;
}

.link-to-proj{
  text-decoration: none;
}

body{
  margin:0;
}

.container {
  margin: 1rem;
  text-align: center;

}

.site-title  {
  font-family: Helvetica;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
}

.egg{
  width: 8rem;
  height: 5rem;
  margin-left: -2.5rem;
  margin-top: .4rem;
  
}

.nav-font{
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 600;
}

.nav {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: stretch; /*hover spans entire container*/
  gap: 2rem; /*space in between elements*/
  padding: 0 1rem; /*left and right spaces*/
  height: 4rem;
  border-bottom: .2rem solid black;
  background-color: white;
}


.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;

}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display:flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active{
  text-decoration: underline;
  text-decoration-thickness: .2rem;
  text-decoration-color: #E5D126;
}


.nav li:hover{
  transform: scale(1.2);
}

.ab-container {
  text-align: left;
  font-size: 3rem;
}

.name{
  color: #000;
  font-family: Helvetica;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: -2rem;
  margin-left: 5rem;
}

.about-container {
  display: flex;
  align-items: center;
  margin: 3rem;
}

.tai-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.caption-taiwan{
  color: #000;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  margin-top: -5rem;
  letter-spacing: 0.025rem;
  }

.about-me {
  padding: 5rem;
  margin: 2rem;
  font-size: 1.8rem;
}

.sing {
  padding: 2rem;
  margin: 3rem;
  height: 32rem;
  width: 25rem;
}

.background-container {
  display: flex;
  align-items: center;
}

.taiwan {
  max-height: 40rem;
  max-width: 40rem;
  padding: 5rem;
  margin: 1rem;
}

.hobbies{
  margin: 1rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around; /* Optional - Adjust alignment as needed */
  align-items: center;
}

.things-i-enjoy{
  width: 45%;
}

.my-current-obsession{
  width: 40%;
}

.things-i-enjoy h1, .my-current-obsession h1{
  color: #000;
  font-family: Helvetica;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 2.625rem */
  letter-spacing: 0.0875rem;
}

.things-i-enjoy p, .my-current-obsession p {
  color: var(--taffy, #041514);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.875rem */
  letter-spacing: 0.025rem;
}

.background {
  padding: 2rem;
}

.background p {
  color: var(--taffy, #041514);
  font-family: Helvetica;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.875rem */
  letter-spacing: 0.0625rem;
}


.skill-top{
  text-align: center;
}

.skill-middle-container{
  text-align: left;
  margin: 5rem;
  align-items: left;
}

.skill-middle-container h2 {
  text-align: left;
  margin-left: 12rem;
}

.skills-body{
  display:inline-flex;
}

.timeline{
 flex-basis: 300rem; /* sets initial flexbox width*/
}

.find-me{
  margin-right: 2rem; 
  flex-basis: 50rem; 
}

.git{
  width: 2rem;
  height: 2rem;
}

.link{
  width: 2rem;
  height: 2rem;
}

.find-me ul{
 margin: 1rem 0;
 margin-left: -1.6rem;
 line-height: 3rem;
}

.skills-head {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

.skills-title{
  display: inline-block; /* Make the border fit the content width */
  padding: 10px; /* Optional - Add some padding around the text */
  border: 2px solid #333; /* Border style */
  background-color: transparent; 
  margin-top: 5rem;
  margin-left: 12rem;
}

.skills-title h2{
  font-weight: 800;
  margin:0;
}

.email{
  width: 100%;
  height: 10rem;
  font-size: 2.3rem;
  text-align: center;
  border: .1rem solid black; 
}
/*
.socials{
  width: 50%;
  height: 10rem;
  font-size: 2.3rem;
  text-align: center;
  border: .1rem solid black; 
} */

.research{ /*photo of iphone*/
  height: auto;
  width: auto;
  max-width: 20rem;
  max-height: 30rem;
  margin-top: 2.2rem;
  margin-left: 13rem;
}

.row2 {
  margin-top: 2.25rem;
  width: 40.8125rem;
  height: 33.75rem;
  background-color: rgba(156, 201, 240, 0.78);
  float: right;
}


.footer{
  display:flex;
  font-size: 3.5rem !important;
  margin-top: 5rem;
}

.code-research{
  text-align: center;
  margin-top: 1rem;
  color: var(--dark-grey-80, #101214);
  font-family: Helvetica;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem; /* 100% */
  letter-spacing: 0.0625rem;
}

.rec-1{
  width: 20.3125rem;
  height: 32rem;
  background-color: rgba(0, 83, 156, 0.78);
  border-radius: 0.625rem;
}

.design {
  text-align: center;
}

.code {
  text-align: center;
}

.ideate {
  margin: 0rem;
  text-align: center;
}

.ideate h3, .code h3, .design h3{
  color: #000;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 75% */
}

.ideate h4, .design h4, .code h4 {
  text-align: left !important;
  margin-left: 2rem;
  color: #FFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 120% */
}

.ideate p, .design p, .code p{
  text-align: left !important;
  margin-left: 2rem;
  margin-right: 2rem;
  color: #FFF;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 171.429% */
}

.rec-2 {
  margin-top: 5rem;
  margin-left: 5rem;
  width: 10rem;
  height: 2.6rem;
  border-radius: 0.625rem;
  background-color: #EEA47F;
}

.rec-2-code {
  margin-top: 2rem;
  margin-left: 5rem;
  width: 10rem;
  height: 2.6rem;
  border-radius: 0.625rem;
  background-color: #EEA47F;
}

.rec-2-ideate {
  margin-top: 3.5rem;
  margin-left: 5rem;
  width: 10rem;
  height: 2.6rem;
  border-radius: 0.625rem;
  background-color: #EEA47F;
}

.rec-2 p {
  width: 10rem;
  color: #FFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 133.333% */
  margin: 1rem;
  padding-top: .4rem;
}

.rec-2-ideate p {
  color: #FFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 133.333% */
  padding-left: 1.8rem;
  padding-top: .5rem;
}

.rec-2-code p {
  color: #FFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 133.333% */
  padding-left: 1.3rem;
  padding-top: .5rem;
}

.mirofigma {
  margin-top: 1.88rem;
  max-width: 17rem;
  max-height: 8rem;
  border-radius: 0.625rem;
}


